<div class="container">
<h1>Restaurants</h1>
</div>
<div class="container">
<ul><% @restaurants.each do |restaurant| %>
<li class="restaurants"><%= link_to restaurant.name, restaurant_path(restaurant) %></li>
<% end %>
</ul>
</div>

<div class="container">
<p><%= link_to "Create New Restaurant", new_restaurant_path, class: "btn btn-success" %></p>
</div>
